body{
  font-family: Open Sans;
  background-image: url("images/alena-aenami-rooflinesgirl-1k-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  padding: 1px;
}
h2{
  padding: 1px;
  text-align: center;
}
.headerdiv{
  background-color: rgba(255, 245, 238, 0.7);
  text-align: center;
  border-style: solid;
  border-color: DarkSlateGrey;
  border-width: 2px;
  border-radius: 10px;
  margin: 2px;
  padding: 10px;
}
.dropdown-ul {
  list-style-type: none;
  border-radius: 10px;
  margin: 2px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Dropdown CSS code begint hier*/
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(73, 73, 208);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  border-radius: 10px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(174, 174, 234, 0.4);
}
.dropdown-content a:active {
  background-color: rgba(174, 174, 234, 0.8);
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*Form code begint hier*/
.formdiv{
  margin-left: 60%;
  margin-right: 2px;
  background-color: rgba(255, 245, 238, 0.7);
  border-style: solid;
  border-color: DarkSlateGrey;
  border-radius: 10px;
}
form{
  padding: 25px;
  text-align: center;
}
#email, #wachtwoord{
  width: 75%;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}
#inloggen{
  background-color: rgb(73, 73, 208);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
#vergeten{
  background-color: white;
  opacity: 0.9;
  border-color: rgb(73, 73, 208);
  border-style: solid;
  border-width: 3px;
  color: rgb(73, 73, 208);
  height: 36px;
  width: 205px;
  border-radius: 5px;
  cursor: pointer;
}
#radio-knop{
  color: black;
}
